.header-logo {
    display: flex;
    align-items: center;
  }
  
  .header-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .profile-section{
    img {
        border-radius: 50%;
    }
    span{
        font-size: 1rem;
        font-weight: 400;
        margin-inline: 5px;
    }
  }